<p id="notice"><%= notice %></p>

<p>
  <strong>Has many:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>:</strong>
  <%= @tweet. %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>:</strong>
  <%= @tweet. %>
</p>

<%= link_to 'Edit', edit_tweet_path(@user) %> |
<%= link_to 'Back', tweets_path %>
